
archivosbasuraa/Basededatos.php
archivosbasuraa/gmailconsulta.php
archivosbasuraa/Hardware.php
archivosbasuraa/likes.php
archivosbasuraa/Modelosysistemas.php
archivosbasuraa/Programacion.php
archivosbasuraa/Seguridad.php
archivosbasuraa/Sistemasdigitales.php
Imagenes/idkqes.php
Imagenes/logo.rar
Imagenes/perfil.png
mandar a profe/Consultas-sql-pasantia-cerbino.rar
mandar a profe/dbconnect.php
mandar a profe/functions.php
mandar a profe/likes.php
mandar a profe/pasantia.sql
mandar a profe/server.php
mandar a profe/subircomentario.php
mandar a profe/subirguia.php
Scripts/Editordetexto.js
Scripts/JsonGuia.js
