body{
    background: linear-gradient(#141e30, #243b55);
    font-family: sans-serif;
    margin: 0px;
}

div.barraarriba{
    height: 70px;
    width: 100%;
    background: rgba(0,0,0,.6);
    color: white;
    top: 0px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0;
}

div.logo{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.barraarriba img{
    width: 60;
    height: 60;
    
}

div.barraarriba a#infopedia{
    font-size: 40px;
    font-family:bold;
    margin: 0;
    top: 14;    
    color:white;
    text-decoration: none;
}

div.barraarriba p{
    font-size: 40px;
    font-family:bold;
    margin: 0;
    top: 14;    
    color:white;
    text-decoration: none;
}

div.barraarriba {
    font-size: 40px;
    font-family:bold;
    margin: 0;
    top: 14;    
    text-decoration: none;
    color:white;
}



div.navegationbar input{
    width: 270px;
    height: 30;
    color: white;
    background:rgba(0,0,0,0);
    border: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 12px 0px 0px 12px;
    text-align: center;
    position: relative;
    top:8px;
}
div.navegationbar button{
    width: 30;
    height: 30px;
    background: rgba(0,0,0,0);
    border-radius:0px 12px 12px 0px;
    border:1px solid white;
    color: white;
    position: relative;
    top:8px;
    transition: 0.4s;
}
div.navegationbar i{

color:white;  
}

div.navegationbar button:hover{
    background: rgba(0,212,255,1); 
    border-radius:0px 12px 12px 0px;
    color: black;
    border: 1px solid black;
    
}


div.Nombredeusuario {
   height: 100%;
   width: auto;
}

div.Nombredeusuario ul {
/*  border: 1px solid white; */
    margin-right: 10px;
    width: 200px;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    padding: 0px;
    list-style: none;
    position: relative;
    margin-top: 21px;
    font-family: sans-serif;
}


div.Nombredeusuario ul ul{
    margin-top: 20px;
    background: rgba(0,0,0,.6);
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    display: none;
    font-size: 20;
    font-weight:300 ;
    font-family: sans-serif;
}

div.Nombredeusuario ul ul li{
    transition: 0.6s;
    height:25px;
    font-family: sans-serif;
}

div.Nombredeusuario ul ul li a{
    text-decoration: none;
    color:white;
    font-family: sans-serif;
}

div.Nombredeusuario ul ul li:hover{
    color: black;
    background-color: rgb(2, 186, 223);
    
}

div.Nombredeusuario ul li:hover > ul{
    display: block;
}

















div.UsuarioOpciones {
    list-style: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-content: center;
    border: 1px solid white;
    width: 150px;
    background: rgba(0,0,0,.6);
    display: none;
}


div.UsuarioOpciones a{
    color: white;
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: 20px;
    height: 30px;
    transition: 0.4s;
}

div.UsuarioOpciones a:hover{
    background-color: rgb(2, 186, 223);
}


















/*
div.nombredeusuario {
    margin-right: 20px;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    
}

div.nombredeusuario p{
    font-size:38px ;
}


*/


